body{
margin:0;
background:black;
color:white;
font-family:sans-serif;
overflow:hidden;
}

header{
position:fixed;
top:0;
width:100%;
background:#111;
padding:5px;
z-index:10;
}

#viewer{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
gap:10px;
}

img{
max-height:95vh;
max-width:48%;
object-fit:contain;
}

#pageInfo{
position:fixed;
bottom:0;
width:100%;
text-align:center;
background:#111;
padding:5px;
}